<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation2"></nav>

<a href="/book1/add" class="btn btn-info" role="button">Add Comment</a>



<h1>The Girl on the Train</h1>

<h2>by Paula Hawkins</h2><img src="https://images.gr-assets.com/books/1490903702l/22557272.jpg">


<h2>Rachel takes the same commuter train every morning and night and stops at the signal
where she watches the same couple. Their life—as she sees it—is perfect. Not unlike the life she recently lost.</h2>

<table class="table">

    <tr>
        <th>Comments</th>


    </tr>

    <tr th:each="theBook : ${book1}">
        <td th:text="${theBook.comment}"></td>


    </tr>

</table>


</body>
</html>
