<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation2"></nav>

<a href="/comment/add" class="btn btn-info" role="button">Add Comment</a>


<table class="table">

    <tr>
        <th>Comments</th>


    </tr>

    <tr th:each="comment : ${comments}">
        <td th:text="${book1.comment.name}"></td>


    </tr>

</table>

<h1 th:text="${book1.name}"></h1>
<h2 th:text="'by ' + ${book1.author}"></h2>
<h3 th:text="${book1.description}"></h3>
<img src="https://images.gr-assets.com/books/1490903702l/22557272.jpg">






</body>
</html>
